@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0 auto;
  font-family: 'Gilroy', 'Nekst-Black' sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1440px;
  background: #e6e7eb;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
   right: 450px;
}
